*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 1px 1px 2px black;
}
/*--------------------HeaderSection------------------------------------------*/
header{
    max-width: 33.125rem;
    height: 22.125rem;
    /* outline: 1px solid black; */
    background-image: url(./img/klavi_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: flex-end; */
}
.language{
    display: flex;
    justify-content: flex-end;
}

.language img{
    width: 2.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    cursor: pointer;
}

.name{
    color: whitesmoke;
    text-align: center;
}

.name h1{
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: .3rem;
    font-family: 'Amatic SC', cursive;
}
.name h3{
    font-size: 3.2rem;
    font-family: 'Amatic SC', cursive;
}

/*--------------------MainSection------------------------------------------*/

main{
    max-width: 33.125rem;
    height: auto;
    /* outline: 1px solid black; */
    background-image: url(./img/massageBg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatarimg{
   display: flex;
   flex-direction: column;
   align-items: center;
   
    
}

.my{
    border-radius: 25rem ;
    width: 80%;
    height: auto;
    max-width: 340px;
    margin-top: -7rem;
    
}

.button{
    display: flex;
    justify-content: space-between;
}

.button img{
    width: 5rem;
    margin: 2rem;
    cursor: pointer;
}

.textArea{
    outline: 1px solid whitesmoke;
    color: whitesmoke;
    
}
.textArea h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'Amatic SC', cursive;
}
.textArea h2, h4{
    text-align: center;
    
}
.textArea h4{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-family:'Open Sans Condensed', sans-serif;
}

.textArea h3{
    text-align: center;
    font-size: 1.8rem;
    font-family:'Open Sans Condensed', sans-serif;
}

.jelszo{
    font-size: 1.8rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-bottom: .8rem;
}
.textArea span{
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
}
.textArea p{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family:'Open Sans Condensed', sans-serif;
    margin-bottom: 2rem;
}

